include README.md
include LICENSE
include requirements.txt
include environment_user.yml

recursive-include argprism/data *.fasta *.json
recursive-include argprism/models *.pth

global-exclude __pycache__
global-exclude *.py[co]
